<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:text="${hello}">hello</div>
    <div th:text="${html}"></div>
    <!--utext会解析字符串中的html标签-->
    <div th:utext="${html}"></div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>address</th>
            <th>birthday</th>
        </tr>
        <tr th:each="item:${userList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.address}"></td>
            <td th:text="${#dates.format(item.birthday,'YYYY-mm-dd')}"></td>
        </tr>
    </table>
    <div th:if="${flag}">当标志位为真时显示的内容</div>
    <div th:unless="${flag}">当标志位为假时显示的内容</div>
    <div th:insert="~{footer::footer}"></div>

</body>
</html>